@charset "UTF-8";
/****************************************:

全体のスタイル

*****************************************:*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-size: 16px;
  width: 100%;
  margin: 0 auto;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #1c1c1c;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.container::before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100vh;
  background-color: #2e536b;
  z-index: 100;
  visibility: visible;
  -webkit-animation: showOut 5s;
          animation: showOut 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1000;
}

@-webkit-keyframes showOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes showOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.mock {
  /* モック画像 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 375px;
  opacity: 0.3;
  /* 反転 */
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
  /* テキストを掴まないように */
  pointer-events: none;
  z-index: 999;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner {
  margin: 0 auto;
}

.section_inner {
  width: 100%;
  max-width: 800px;
  padding: 0 15px;
  margin: 0 auto;
}

.section_ttl {
  display: block;
  text-align: center;
  padding: 0 20px;
  margin: 0 auto;
  font-size: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_ttl::before, .section_ttl::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #1c1c1c;
}

.section_ttl::before {
  margin-right: 10px;
}

.section_ttl::before {
  margin-left: -10px;
}

main {
  margin-top: 100vh;
}

.site {
  cursor: pointer;
  position: relative;
  color: #1c1c1c;
  line-height: 4em;
  font-size: 1.2rem;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 5px #1c1c1c;
          box-shadow: 0 5px 5px #1c1c1c;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  background-color: #eaebed;
}

.site_link {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

.site_link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.site_link:after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(0.4, #befb61), to(transparent));
  background: -webkit-linear-gradient(left, transparent, #befb61 0.4, transparent);
  background: linear-gradient(90deg, transparent, #befb61 0.4, transparent);
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.site_link:hover:after {
  left: 100%;
}

.site_link:hover {
  text-shadow: 3px 3px 3px #1c1c1c;
  -webkit-transition: .4s;
  transition: .4s;
}

.site_btnspan {
  position: absolute;
  display: block;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.site_btnspan:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #befb61;
}

.site_btnspan:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: #befb61;
}

.site_btnspan:nth-child(2) {
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background: #befb61;
}

.site_btnspan:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 2px;
  height: 0;
  background: #befb61;
}

.site:hover .site_btnspan:nth-child(1) {
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.site:hover .site_btnspan:nth-child(3) {
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.site:hover .site_btnspan:nth-child(2) {
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.site:hover .site_btnspan:nth-child(4) {
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .site {
    width: 150px;
    line-height: 3em;
  }
}

@media screen and (min-width: 1024px) {
  .site {
    width: 150px;
    line-height: 3em;
  }
}

/****************************************:

kv

*****************************************:*/
.kv {
  position: relative;
  /* background: linear-gradient(rgba(231, 251, 210, 0.762), rgba(202, 240, 240, 0.5)); */
  /*  &_wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */
  /*  &_animetype {
        color: $cWhite;
    } */
}

.kv_container {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  /*  clip-path: polygon(58% 0, 100% 0, 100% 100%, 24% 100%); */
}

.kv_txtbox {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
}

.kv_txt {
  font-size: 1.6rem;
  color: #ffffff;
  letter-spacing: .2em;
  text-shadow: 3p 3px 3px #1c1c1c;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .kv_txt {
    color: #E7F5E0;
    text-shadow: 3p 3px 3px #ffffff;
  }
}

.kv_ttl {
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
  margin: 20px;
}

@media screen and (min-width: 1024px) {
  .kv_ttl {
    color: #E7F5E0;
  }
}

.kv_img {
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 4s linear transform .4s;
  transition: 4s linear transform .4s;
}

.kv_img.zoom {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  .kv {
    height: 0;
  }
  .kv_img {
    width: 50%;
    height: 50vh;
  }
  .kv_top {
    position: absolute;
    top: 10%;
    left: 10%;
  }
  .kv_center {
    position: absolute;
    left: 40%;
    top: 40%;
    width: 350px;
    height: 350px;
  }
  .kv_bottom {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 100%;
    width: 400px;
  }
}

/****************************************:
タイプアニメーション
*****************************************:*/
.line {
  position: relative;
  margin-left: 10px;
  z-index: -1;
  color: #E7F5E0;
  text-align: center;
  text-shadow: 3px 3px 3px #1c1c1c;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.line::after {
  text-align: center;
  content: "";
  position: absolute;
  right: -5px;
  width: 2px;
  height: 100%;
  border-right: 1px solid #E7F5E0;
  -webkit-animation: blink 1s infinite ease;
          animation: blink 1s infinite ease;
  z-index: -1;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.line_short {
  position: relative;
  top: 25%;
  margin: 0 auto;
  font-size: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typewriter 4s steps(60) 1s 1 normal both, blinkTextCursor 500ms steps(60) infinite normal, type 0.5s steps(80, end);
          animation: typewriter 4s steps(60) 1s 1 normal both, blinkTextCursor 500ms steps(60) infinite normal, type 0.5s steps(80, end);
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  text-shadow: 3px 3px 3px #1c1c1c;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  margin: 40px auto;
}

@media screen and (min-width: 1024px) {
  .line_short {
    font-size: 4rem;
  }
}

.line_long {
  position: relative;
  top: 25%;
  margin: 0 auto;
  font-size: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typewriter 4s steps(60) 1s 1 normal both, blinkTextCursor 500ms steps(60) infinite normal, type 0.5s steps(80, end);
          animation: typewriter 4s steps(60) 1s 1 normal both, blinkTextCursor 500ms steps(60) infinite normal, type 0.5s steps(80, end);
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  text-shadow: 3px 3px 3px #1c1c1c;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

@media screen and (min-width: 1024px) {
  .line_long {
    font-size: 4rem;
  }
}

.line_type {
  font-size: 1.8rem;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
  /* blink:点滅、infinite:無限に繰り返す */
}

@media screen and (min-width: 1024px) {
  .line_type {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .line {
    font-size: 4rem;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
    right: 0;
  }
  99% {
    right: 0;
  }
  100% {
    right: 0;
  }
}

@keyframes type {
  0% {
    width: 0;
    right: 0;
  }
  99% {
    right: 0;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@-webkit-keyframes blinkTextCursor {
  /*点滅するカーソルのアニメーション*/
  from {
    border-right-color: #ffffff;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  /*点滅するカーソルのアニメーション*/
  from {
    border-right-color: #ffffff;
  }
  to {
    border-right-color: transparent;
  }
}

/****************************************:

header

*****************************************:*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c1c1c;
  opacity: 0.8;
  padding: 0 20px;
  line-height: 50px;
  color: #ffffff;
  z-index: 99;
}

.header.clicked {
  background-color: transparent;
}

.header.clicked .header_ttl {
  color: #ffffff;
  font-size: 2rem;
}

.header_inner.clicked {
  width: 85%;
  padding: 0 20px;
  margin-left: 35%;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .header_inner.clicked {
    width: 71%;
  }
}

.header_ttl {
  color: #ffffff;
  font-size: 2.5rem;
  z-index: 1;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .header {
    line-height: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    line-height: 80px;
  }
  .header.fix {
    position: fixed;
  }
}

/****************************************:

nav

*****************************************:*/
.nav {
  position: relative;
}

.nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: -500vw;
  background-color: #1c1c1c;
  opacity: .5;
  width: 50vw;
  height: 100vh;
}

.nav.clicked::before {
  content: '';
  position: absolute;
  top: 0;
  left: -122vw;
  background-color: #1c1c1c;
  opacity: .5;
  width: 70vw;
  height: 100vh;
  -webkit-transition: .8s;
  transition: .8s;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .nav.clicked::before {
    content: '';
    left: -110vw;
  }
}

.nav_list {
  position: absolute;
  right: -1000px;
}

.nav_list.clicked {
  right: 0;
  -webkit-transition: .6s;
  transition: .6s;
  width: 72vw;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .nav_list {
    right: 0;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
}

.nav_inner {
  background-color: #1c1c1c;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

@media screen and (min-width: 1024px) {
  .nav_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
}

.nav_ham {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 25px;
  height: 25px;
  z-index: 100;
}

.nav_ham.clicked {
  right: 15vw;
}

.nav_ham:hover .tg1 {
  width: 50%;
  right: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav_ham:hover .tg3 {
  width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav_hamspan {
  font-size: 1.1rem;
  position: absolute;
  top: -20px;
  left: -25px;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .nav_ham.clicked {
    right: 4vw;
  }
}

@media screen and (min-width: 1024px) {
  .nav_ham {
    display: none;
  }
  .nav_hamspan {
    display: none;
  }
}

.nav_line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.nav_line:nth-child(1) {
  top: 0px;
}

.nav_line:nth-child(2) {
  top: 8px;
}

.nav_line:nth-child(3) {
  top: 16px;
  /* left: -5px; */
}

.nav_line.clicked:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(-315deg);
          transform: translateY(12px) rotate(-315deg);
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
}

.nav_line.clicked:nth-child(2) {
  left: 0;
  -webkit-transition: .9s;
  transition: .9s;
  opacity: 0;
}

.nav_line.clicked:nth-child(3) {
  -webkit-transform: translateY(-4px) rotate(315deg);
          transform: translateY(-4px) rotate(315deg);
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
}

.nav_item {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5em;
  position: relative;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .nav_item {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav_item {
    margin-top: 25px;
    letter-spacing: .2em;
    -webkit-transition: .3s;
    transition: .3s;
    margin-right: 25px;
    position: relative;
  }
  .nav_item::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: -webkit-transform .7s;
    transition: -webkit-transform .7s;
    transition: transform .7s;
    transition: transform .7s, -webkit-transform .7s;
    background: #befb61;
  }
  .nav_item:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .nav_item:hover {
    color: #befb61;
    letter-spacing: .5em;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav_link {
  display: block;
  letter-spacing: .2em;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav_link::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  background: #befb61;
}

.nav_link:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav_link:hover {
  color: #befb61;
  letter-spacing: .5em;
  -webkit-transition: .5s;
  transition: .5s;
}

.tg2 {
  width: 75%;
  right: 0;
}

.tg3 {
  width: 50%;
  right: 0;
}

@media screen and (min-width: 1024px) {
  .nav {
    position: initial;
  }
}

/****************************************:

about

*****************************************:*/
.about {
  padding: 80px 0;
  background-color: #8b8989;
}

.about_ttlwrap {
  position: relative;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .about_ttlwrap {
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  .about_ttlwrap {
    position: relative;
  }
}

.about .section_ttl {
  margin-bottom: 50px;
  text-shadow: 0.5px 1px 2px #1c1c1c;
  color: #ffffff;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .about .section_ttl {
    margin-bottom: 25px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .about .section_ttl {
    position: absolute;
    left: -50px;
    top: 0;
    width: 100%;
  }
}

.about_inner {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .about_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .about_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
    max-width: 800px;
    width: 100%;
  }
}

.about_imgbox {
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transform: perspective(1000px) rotateX(0deg);
          transform: perspective(1000px) rotateX(0deg);
  cursor: pointer;
  width: 250px;
}

.about_imgbox:hover {
  -webkit-transform: rotateX(90deg) translateY(-1000px);
          transform: rotateX(90deg) translateY(-1000px);
}

.about_imgbox:hover .about_intxt,
.about_imgbox:hover .about_imgbox_in {
  opacity: 1;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .about_imgbox {
    width: 350px;
    height: 100%;
    padding: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .about_imgbox {
    width: 350px;
    height: 100%;
    padding: 50px;
  }
}

.about_imgbox_in {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: rotateX(-80deg);
          transform: rotateX(-80deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .about_imgbox_in {
    width: 100%;
    padding: 50px;
  }
}

.about_intxt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: #ffffff;
  line-height: 1.2em;
  font-size: 1.2rem;
  background: #1c1c1c;
  -webkit-transition: all .3s ease-in-out .3s;
  transition: all .3s ease-in-out .3s;
  opacity: 0;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .about_intxt {
    bottom: 40px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .about_intxt {
    bottom: 40px;
    text-align: center;
  }
}

.about_img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about_sharewrap {
  text-align: center;
}

.about_sharebox {
  margin: 50px auto;
  display: block;
  text-align: center;
}

.about_share_icon {
  width: 100px;
  line-height: 30px;
  margin: 0 auto;
  position: relative;
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
}

.about_share_icon:hover .about_snake:nth-child(1) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.about_share_icon:hover .about_snake:nth-child(3) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.about_share_icon:hover .about_snake:nth-child(2) {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.about_share_icon:hover .about_snake:nth-child(4) {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.about_share_icon:hover .fa-twitter {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .about_share_icon {
    width: 25%;
  }
}

.about_snake {
  position: absolute;
  -webkit-transition: transfrom .5s;
  transition: transfrom .5s;
}

.about_snake:nth-child(1), .about_snake:nth-child(3) {
  width: 100%;
  height: 1px;
  background: #1c1c1c;
}

.about_snake:nth-child(2), .about_snake:nth-child(4) {
  width: 1px;
  height: 100%;
  background: #1c1c1c;
}

.about_snake:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.about_snake:nth-child(3) {
  bottom: 0;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.about_snake:nth-child(2) {
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.about_snake:nth-child(4) {
  top: 0;
  right: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.about_sharetxt {
  display: block;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  color: #ffffff;
}

.about_txt {
  display: block;
  color: #ffffff;
  text-shadow: 3px 3px 3px #1c1c1c;
  padding: 10px;
}

.about_linkbox {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.about_linkbox::after {
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  background: #1c1c1c;
}

.about_linkbox:hover::after {
  -webkit-transform: scale(1, 0.5);
          transform: scale(1, 0.5);
}

.about_linkbox:hover {
  color: #1c1c1c;
  letter-spacing: .1em;
  -webkit-transition: .5s;
  transition: .5s;
  text-shadow: 3px 3px 3px #1c1c1c;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .about_linkbox {
    width: 50%;
  }
}

.about_link {
  display: block;
  width: 100%;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .about {
    padding: 40px 0;
  }
}

.share {
  padding: 20px 0;
}

.fa-twitter {
  font-size: 2rem;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  color: lightskyblue;
}

/****************************************:

policy

*****************************************:*/
.policy {
  padding: 100px 0;
  margin: 0 auto;
  position: relative;
  /* &::before {
        position: absolute;
        display: block;
        content: "Policy";
        font-size: 5rem;
        left: -55px;
        top: 188px;
        color: $cBlack;
        opacity: .3;
        text-shadow: 3px 3px 3px $cBlack;
        transform: rotate(-90deg);

    } */
}

@media screen and (min-width: 1024px) {
  .policy_ttlwrap {
    position: relative;
  }
}

.policy .section_ttl {
  text-shadow: 0.5px 1px 2px #1c1c1c;
  font-size: 2rem;
  display: block;
  margin-bottom: 50px;
  width: 100%;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .policy .section_ttl {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .policy .section_ttl {
    position: absolute;
    padding: 20px 0;
    width: 30%;
    bottom: -70px;
    left: 25px;
  }
}

.policy_txt {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-shadow: 3px 3px 3px #1c1c1c;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .policy_txt {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .policy_txt {
    text-align: left;
    padding: 20px 0 70px 20px;
    font-size: 2rem;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .policy {
    padding: 200px 0;
  }
}

/****************************************:

skill

*****************************************:*/
.skill {
  padding: 50px 0;
  margin: 0 auto;
  background-color: #8b8989;
  position: relative;
  /* &_box {
        margin-left: auto;
        display: block;
    } */
}

.skill_ttlwrap {
  position: relative;
}

.skill .section_ttl {
  text-shadow: 0.5px 1px 2px #ffffff;
  color: #ffffff;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .skill .section_ttl {
    position: absolute;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .skill .section_ttl {
    position: absolute;
    width: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .skill_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .skill_content {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .skill_wrap {
    width: 50%;
    margin: 0 10px;
  }
}

@media screen and (min-width: 1024px) {
  .skill_wrap {
    width: 50%;
    margin: 0 10px;
  }
}

.skill_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.skill_container:hover .skill_card {
  opacity: .2;
}

.skill_card {
  cursor: pointer;
  margin: 40px;
  position: relative;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto;
  background-color: #ffffff;
  overflow: hidden;
}

.skill_card:hover {
  opacity: 1;
}

.skill_card:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: #E7F5E0;
  -webkit-transition: .5s;
  transition: .5s;
}

.skill_card:hover:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 150px;
  bottom: 2px;
  width: 50%;
  background: #befb61;
  opacity: .4;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 5px 5px 5px #1c1c1c;
          box-shadow: 5px 5px 5px #1c1c1c;
}

.skill_card:hover .skill_icon {
  opacity: 1;
  -webkit-transform: translateY(-30px) rotateY(360deg);
          transform: translateY(-30px) rotateY(360deg);
}

.skill_card:hover .skill_icon,
.skill_card:hover .skill_txtbox {
  opacity: 1;
  text-shadow: 1px 1px 1px #1c1c1c;
}

.skill_card:hover .skill_txt {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: .5s;
  transition: .5s;
}

.skill_card:hover .skill_border {
  opacity: 1;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .skill_card {
    border-radius: 50%;
  }
  .skill_card:before {
    top: 2px;
    right: 2px;
    bottom: 2px;
    width: 100%;
    height: 50%;
  }
  .skill_card:hover:before {
    top: 150px;
    left: 2px;
    width: 100%;
    height: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .skill_card {
    border-radius: 50%;
  }
  .skill_card:before {
    top: 2px;
    left: 2px;
    width: 50%;
    height: 50%;
  }
  .skill_card:hover:before {
    bottom: 2px;
    right: 2px;
    width: 50%;
    height: 50%;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    left: initial;
    top: initial;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .skill_card:after {
    position: absolute;
    content: "";
    display: block;
    background: #E7F5E0;
    -webkit-transition: .5s;
    transition: .5s;
    bottom: 2px;
    right: 2px;
    width: 50%;
    height: 50%;
  }
  .skill_card:hover:after {
    top: 2px;
    left: 2px;
    width: 50%;
    height: 50%;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    right: initial;
    opacity: .4;
    background: #befb61;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.skill_inbox {
  padding: 30px;
  text-align: center;
}

.skill .skill_imgbox {
  position: absolute;
  width: 300px;
  height: 300px;
}

.skill_icon {
  font-size: 4rem;
  position: absolute;
  right: 30px;
  left: 0;
  color: #befb61;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .1;
  -webkit-transition: .5s;
  transition: .5s;
  display: block;
}

.skill_txtbox {
  position: relative;
  font-size: 1.3rem;
  color: #1c1c1c;
  z-index: 2;
  opacity: .3;
  letter-spacing: 1px;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
}

.skill_txt {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

.skill_border {
  -webkit-transition: .5;
  transition: .5;
  opacity: 0;
}

.skill_border:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#befb61));
  background: -webkit-linear-gradient(left, transparent, #befb61);
  background: linear-gradient(to right, transparent, #befb61);
  -webkit-animation: animate1 2s linear infinite;
          animation: animate1 2s linear infinite;
}

.skill_border:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#befb61));
  background: -webkit-linear-gradient(top, transparent, #befb61);
  background: linear-gradient(to bottom, transparent, #befb61);
  -webkit-animation: animate2 2s linear infinite;
          animation: animate2 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.skill_border:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#befb61));
  background: -webkit-linear-gradient(right, transparent, #befb61);
  background: linear-gradient(to left, transparent, #befb61);
  -webkit-animation: animate3 2s linear infinite;
          animation: animate3 2s linear infinite;
}

.skill_border:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#befb61));
  background: -webkit-linear-gradient(bottom, transparent, #befb61);
  background: linear-gradient(to top, transparent, #befb61);
  -webkit-animation: animate4 2s linear infinite;
          animation: animate4 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.__penicon {
  left: -30px;
}

.__htmlicon {
  left: -30px;
}

.__cssicon {
  bottom: -200px;
  left: -130px;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .__cssicon {
    left: -110px;
  }
}

@media screen and (min-width: 1024px) {
  .__cssicon {
    left: -110px;
  }
}

.__sassicon {
  bottom: -200px;
  left: 80px;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .__sassicon {
    left: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .__sassicon {
    left: 50px;
  }
}

.__jsicon {
  left: -30px;
}

.__wpicon {
  left: -30px;
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes animate3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animate3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes animate4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes animate4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

/****************************************:

blog

*****************************************:*/
.blog {
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.blog .section_ttlwrap {
  /*  padding: 10px 10px 0 0;
        width: 80%;
        margin-left: auto; */
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .blog .section_ttlwrap {
    display: block;
  }
}

.blog .section_inner {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .blog .section_inner {
    width: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .blog .section_inner {
    width: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.blog_card {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 330px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.blog_card:hover .blog_box {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .blog_card {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .blog_card {
    width: 50%;
    margin: -50px 20px 0 0;
  }
  .blog_card:after {
    position: absolute;
    content: "";
    width: 50;
  }
}

.blog_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: .8s ease-in;
  transition: .8s ease-in;
}

.blog_imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
}

.blog_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog_txtbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background: #1c1c1c;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.blog_txtinner {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding: 20px;
  background: -webkit-linear-gradient(45deg, #E7F5E0, #befb61);
  background: linear-gradient(45deg, #E7F5E0, #befb61);
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
  opacity: .8;
}

.blog .section_ttl {
  background-color: #ffffff;
  text-shadow: 3px 3px 3px #1c1c1c;
  margin-bottom: 50px;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .blog .section_ttl {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .blog .section_ttl {
    position: relative;
    margin-bottom: 0;
    text-align: left;
    display: block;
    margin-left: 150px;
    font-size: 2.6rem;
    letter-spacing: .3em;
  }
}

.blog_txt {
  display: block;
  text-shadow: 3px 3px 3px #1c1c1c;
  width: 100%;
  margin-left: right;
  font-size: 1.2rem;
  line-height: 2;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .blog_txtcontent {
    background-color: #8b8989;
    width: 50%;
    height: 200px;
    margin: 50px -20px 0 0;
    z-index: 1;
  }
  .blog_txt.txt {
    text-align: center;
    margin: 50px 0;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .blog_txtcontent {
    background-color: #8b8989;
    width: 40%;
    height: 200px;
    margin: 100px -20px 0 0;
    z-index: 1;
  }
}

@media screen and (min-width: 1024px) {
  .blog {
    padding: 100px 0;
  }
}

/****************************************:

create

*****************************************:*/
.create {
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  background-color: #8b8989;
}

@media screen and (min-width: 1024px) {
  .create_ttlwrap {
    position: relative;
  }
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .create_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  .create_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .create_wrap:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.create .section_inner {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .create .section_inner {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .create .section_inner {
    width: 100%;
    max-width: 900px;
  }
}

.create_imgbox {
  position: relative;
  overflow: hidden;
  margin: 40px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 250px;
  text-align: left;
  background: #1c1c1c;
}

.create_imgbox:hover .create_img {
  opacity: .4;
  -webkit-transform: scale(1.05) rotate(1.5deg);
          transform: scale(1.05) rotate(1.5deg);
  -webkit-filter: none;
          filter: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.create_imgbox:hover .create_txtbox::before {
  background-color: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.create_imgbox:hover .create_txtbox::after {
  background-color: rgba(255, 255, 255, 0);
  top: 35px;
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.create_imgbox:hover .create_ttl {
  color: #ffffff;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.create_imgbox:hover .create_txt {
  color: #ffffff;
  opacity: .9;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .create_imgbox {
    max-width: 220px;
    min-width: 301px;
    min-height: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .create_imgbox {
    max-width: 220px;
    min-width: 301px;
    min-height: 200px;
    margin-right: 80px;
  }
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .create figure {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.create_img {
  max-width: 200%;
  width: 120%;
  opacity: 1;
  -webkit-transition: opacity .4s transform .5s;
  transition: opacity .4s transform .5s;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

.create_txtbox {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px 2em;
  width: 100%;
  height: 100%;
}

.create_txtbox:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid #ffffff;
  opacity: 0;
  background-color: #befb61;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.create_txtbox:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 30px;
  bottom: 30px;
  left: 22px;
  border-top: 4px solid #ffffff;
  opacity: 0;
  background-color: #befb61;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.create .section_ttl {
  font-weight: 400;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  color: #ffffff;
  opacity: 1;
  text-shadow: 0.5px 1px 2px #ffffff;
}

@media screen and (min-width: 1024px) {
  .create .section_ttl {
    position: absolute;
    top: 0;
    right: 20px;
    width: 0;
    font-size: 2.6rem;
  }
}

.create_txt {
  font-weight: 200;
  -webkit-transform: translate3d(0%, 30%, 0);
          transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  font-size: 1.1rem;
  margin: 5% 15px 5px;
  opacity: 0;
  -webkit-transition: opacity .35s, -webkit-transform .35s;
  transition: opacity .35s, -webkit-transform .35s;
  transition: opacity .35s, transform .35s;
  transition: opacity .35s, transform .35s, -webkit-transform .35s;
}

.create_outtxtbox {
  margin: 40px auto;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .create_outtxtbox {
    right: 50px;
    bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .create_outtxtbox {
    right: 50px;
    bottom: 60px;
  }
}

.create_outtxt {
  text-shadow: 3px 3px 3px #1c1c1c;
  font-size: 1.4rem;
  padding: 15px;
  background-color: #eaebed;
  letter-spacing: .8px;
  line-height: 1.8em;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .create_outtxt {
    margin: 5px 15px;
    font-size: 1.2rem;
    line-height: 2em;
    background-color: #eaebed;
  }
}

@media screen and (min-width: 1024px) {
  .create_outtxt {
    padding: 30px 30px 50px;
    margin: 80px 40px 20px;
    font-size: 1.3rem;
    background-color: #eaebed;
  }
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .site_wrap {
    position: absolute;
    bottom: 40px;
    right: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .site_wrap {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/****************************************:

contact

*****************************************:*/
.contact {
  padding: 88px 0 64px;
  position: relative;
}

.contact_ttl {
  width: 100%;
  position: relative;
  display: block;
  font-size: 3.2rem;
  line-height: 0.84;
  margin: 0 auto;
  z-index: 100;
  text-align: center;
}

.contact_ttl::before {
  display: block;
  content: 'Contact';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  color: #eaebed;
  opacity: 1;
  font-size: 10rem;
}

@media screen and (min-width: 1024px) {
  .contact_ttl::before {
    font-size: 12rem;
  }
}

.contact_inner {
  margin: auto;
  display: block;
  width: 300px;
  padding-bottom: 24.5px;
}

@media screen and (min-width: 1024px) {
  .contact_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 88%;
    padding-bottom: 0;
    margin-bottom: 72px;
  }
  .contact_formwrap {
    width: 300px;
  }
  .contact_formwrap:nth-child(1) {
    margin-right: 53px;
  }
}

@media screen and (min-width: 1024px) {
  .contact {
    padding: 128px 0 80px;
  }
}

.form {
  line-height: 1.9;
  border-bottom: 1px solid #1c1c1c;
  border-right: none;
  border-left: none;
  border-top: none;
}

.form:last-child {
  border: none;
}

.form_ttl:last-child {
  padding-left: 10px;
}

.form_ttl {
  padding-right: 10px;
  font-size: 1.6rem;
}

.form_areattl {
  padding-left: 10px;
}

.form_box {
  border: none;
  opacity: 0.5;
  left: 16px;
  position: relative;
  width: 77%;
}

.form_area {
  opacity: .5;
  font-size: 1.6rem;
  padding: 8px;
  width: 30rem;
  height: 16rem;
  display: inline-block;
  border: 1px solid #1c1c1c;
}

.form2 {
  margin-top: 24.5px;
}

.form2.bb {
  border-bottom: 1px solid;
}

.form2.flex {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .form {
    margin-top: 25.5px;
  }
}

/****************************************:

footer

*****************************************:*/
.footer {
  text-align: center;
  background-color: #1c1c1c;
  line-height: 50px;
}

.footer_txt {
  color: #ffffff;
}

.out_in {
  position: relative;
  padding: 0 10px;
  -webkit-transform-origin: letf;
          transform-origin: letf;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  /*   &:nth-child(2) {
        letter-spacing: 2px;
        display: inline-block;
        margin-top: 2px;

    } */
}

.out_in.active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.out_in.active:before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.out_in:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #befb61;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  z-index: 5;
}

.out_in:nth-child(2):before {
  background: #eaebed;
}

.site_backcontent {
  width: 100%;
  height: 100;
  overflow: auto;
  -webkit-scroll-snap-type: y mandatory;
      -ms-scroll-snap-type: y mandatory;
          scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  background: url(../images/仕事場.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
