@media screen and (min-width: 560px) {
    /* 560px以上に適用されるcss */

    /* Object */
    /* ハンバーガーメニュー */
    .clicked .navList {
        left: 575px;
        visibility: visible;
        opacity: 0.7;
        width: 25%;
        top: 59px;
        height: 753.85px;
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        box-shadow: 0 0 5px 5px;
       
    }
    /* 斜め背景 */
.skill::after {
    content: "";
    background-color: #f3f3f3;
    height: 23%;
    width: 40%;
    position: absolute;
    top: 43.1%;
    left: -40.8%;
    transform-origin: left top;
    transform: skewX(60.1deg);
    z-index: -1;
}

.policy::after {
    content: "";
    background-color: #f3f3f3;
    height: 84.1%;
    width: 8%;
    position: absolute;
    top: 127%;
    left: 90%;
    transform-origin: left top;
    transform: skewX(-39.9deg);
    z-index: -1;
}
.blog::after {
    content: "";
    background-color: #f3f3f3;
    height: 67.2%;
    width: 42.1%;
    position: absolute;
    top: 308.5%;
    left: 40%;
    transform-origin: left top;
    transform: skewX(-44.8deg);
    z-index: -1;
}


 img.blogImg {
    position: relative;
    top: 0px;
    left: 0px;
}

.thumbnail li {
    position: relative;
    width: calc(100%/1.5);
    height: 25vh;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
    left: -40px;
}
    .thumbnail li.is-active a:before,
    .thumbnail li a:before {
    position: absolute;
    top: 0;
    left: 85px;
    content: "";
    width: 100%;
    height: 82%;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.5s;
    opacity: 1;
    z-index: 1;
}

    .thumbnail li img {
        height: 80%;
        object-fit: cover;
        transition: all 0.8s;
        transform: scale(1,1);
        backface-visibility: hidden;

        position: relative;
        left: 45px;
    }

    .conTents {
        position: relative;
        width: 100%;
        height: 61vh;
        margin: 0;
    }

    .contentInner {
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    /* .box {
        display: flex;
    } */


    .thumbnailBox {
        width: 250px;
        margin-left: 40px;
        position: relative;
        /* top: -80px; */

        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer {
        margin-top: auto;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 150px;
    
        top: 0;
    }

    .cubic span {
        
        left: 240px;
     
    }



    /* lyout */

    .ly-mainContainer {
        /* padding-bottom: 150px; */
        height: 4490px;
        /* height: auto; */
      }
    .create {
        display: flex;
        position: relative;
        display: flex;
        justify-content: center;
        left: -280px;
    }
    .ly-createBox {
        position: relative;
        top: 80px;
        height: 100vh;
      }

    





    /* utility */
    .u-thumbnailTxt {
        font-size: 1.5rem;
       
    }
    .u-createTxt {
        font-size: 1.3rem;
        text-align: left;
    }




}