.u-headerTxt {
    font-size: 2.5rem;
}


.u-mainTxt {
    color: #ffffff;
    margin: 0;
    letter-spacing: 1px;
    font-size: 2.5rem;
    width: 12em;
    display: flex;
    justify-content: center;
}

.u-navTxt {
    font-size: 1rem;
    color: #fff;
}

.u-share a {
    font-size: 1.5rem;
    color: #333;
}

.u-aboutTxt {
    margin: 0;
    padding: 0 40px;
    font-size: 1.5rem;
    text-align: left;
    line-height: 2.5;
  }


.u-policyTxt {
    margin: 10px 10px;
    line-height: 2.5;
    font-size: 1.7rem;
    top: 42px;

    /* background-color: #555; */
}


.u-skillTxt {
    /* margin: 0 20px; */
    line-height: 3;
    font-size: 1.3rem;
    text-align: left;
    width: 20em;

}

.u-Txt{
    margin-top: 20px;
    line-height: 3;
    font-size: 1.3rem;
    left: 35px;
}

.u-blogT {
    display: flex;
    justify-content: center;
}

.u-spanLink {

    font-weight: bold;
    background-color: black;
    cursor: pointer;
}



.u-sumTitle {
    font-size: 1.5rem;
    text-align: left;
    cursor: pointer;
}
.u-sumTxt p{
    font-size: 1.3rem;
    text-align: left;
    height: 15px;
    background-color: #dfdfdf;;

}


.u-blogThumbnailTxt {
    font-size: 1.3rem;
    line-height: 30px;
    text-align: left;
    background-color: #f3f3f3;

    height: 15rem;
    margin-left: 10px;
    margin-right: 10px;
}
.u-thumbnailTxt {
    font-size: 1.3rem;
    line-height: 30px;
    text-align: left;
    background-color: #dfdfdf;
    border-radius: 2px;
    
}




.u-footerNav {
    font-size: 1.0rem;
    
}