@charset 'utf-8';

/****************************************:

全体のスタイル

*****************************************:*/


$cWhite: #ffffff;
$cOcher: #c1a250;
$cBlack: #333;
$cGray: rgb(139, 137, 137);
$cBgColor: #eaebed;


$widthPc: 1024px;
$widthTab: 764px;
$widthSp: 480px;

@mixin fontsize($cFontSz: 3.6rem) {
    font-size: $cFontSz;
    color: $cWhite;
}





@mixin pc {
    @media screen and (min-width: $widthPc) {
        @content;
    }
}


@mixin tab {
    @media screen and (min-width: $widthTab) and (max-width: $widthPc) {
        @content;
    }
}



html {
    // ルートのフォントサイズ 10pxに設定
    font-size: 62.5%;
}

body {
    // デフォルトのフォントサイズ 16pxと同等のサイズに設定
    font-size: 1.6em;
    font-size: 16px;
    width: 375px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif, "Noto Sans";
}


* {
    box-sizing: border-box;
}


.overall {
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", "YuGothic",
        "Meiryo", verdana, "Osaka", "MS PGothic", Sans-Serif, "Yu Mincho",
        YuMincho, "MS P Mincho", serif;

    background-color: $cBgColor;
}

.container {
    width: 100%;
    margin: 0 auto;
    // color: $cWhite;
    position: relative;
    overflow: hidden;
}



.mock {
    /* モック画像 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 375px;
    opacity: 0.3;

    /* 反転 */
    filter: hue-rotate(180deg);

    /* テキストを掴まないように */
    pointer-events: none;

    z-index: 999;
}



.flex {
    display: flex;
    justify-content: space-between;
}

.inner {
    margin: 0 auto;
    padding: 0 15px;
}

.section_ttl {
    display: block;
    text-align: center;
    margin: 40px 0;
    font-size: 2rem;
}

/****************************************:

kv

*****************************************:*/

.kv {
    position: relative;


    &_container {
        height: 100vh;

    }

    &_img {
        width: 100%;
        height: 100%;
        display: block;
    }

    &_wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &_animetype {
        color: $cWhite;
    }


}


/****************************************:
タイプアニメーション
*****************************************:*/


.line {
    // position: relative;
    top: 50%;
    width: 24em;
    text-align: center;
    margin: 0 auto;
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: type 2.5s steps(80, end);
    animation: typewriter 4s steps(60) 1s 1 normal both,
    /* normal:標準の方向で実行、both:forwardsとbackwardsの両方の規定に従う */
    blinkTextCursor 500ms steps(60) infinite normal;

    &_type {
        font-size: 25px;
        animation: blink 1s infinite;
        /* blink:点滅、infinite:無限に繰り返す */
    }
}



@keyframes type {
    from { width: 0; }
    to   {width: 100%; }
}


@keyframes blink {
    to{opacity: .0;}
}


@keyframes typewriter {
    from { width: 0; }
    to { width: 24em; }
}

@keyframes blinkTextCursor{/*点滅するカーソルのアニメーション*/
    from { border-right-color: $cWhite; }
    to { border-right-color: transparent; }
}





/****************************************:

policy

*****************************************:*/

.policy {
    padding: 50px 0;
    background-color: skyblue;
    margin: 0 auto;

    &_txt {
        text-align: center;

    }
}









/****************************************:

skill

*****************************************:*/


.skill {
    padding: 50px 0;
}














/****************************************:

header

*****************************************:*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $cBlack;
    opacity: 0.8;
    padding: 0 20px;
    line-height: 50px;
    color: $cWhite;
    z-index: 99;

    &.clicked {
        background-color: transparent;
    }

    &_inner.clicked {
        width: 85%;
        padding: 0 20px;
        margin-left: 35%;
        background-color: red;
        transition: .3s;
    }
}









/****************************************:

nav

*****************************************:*/

.nav {
    position: relative;



    &_list {
        position: absolute;
        right: -1000px;
        // right: -5vw;
        display: flex;
        flex-direction: column;

        &.clicked {
            right: -5vw;
            transition: .6s;
        }
    }
    
    &_inner {
        background-color: red;
        height: 88.9vh;
        width: 60.1vw;
        margin-top: 17%;

    }

    // ハンバーガーメニュー
    &_ham {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        // background-color: #ffffff;
        width: 25px;
        height: 25px;
        z-index: 100;

        &.clicked {
            right: 40px;
        }
    }

    &_line {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $cWhite;

        &:nth-child(1) {
            top: 0px;
            // left: -5px;

        }

        &:nth-child(2) {
            top: 8px;
            // left: 5px;
        }

        &:nth-child(3) {
            top: 16px;
            /* left: -5px; */
        }

        &.clicked:nth-child(1) {
            transform: translateY(12px) rotate(-315deg);
            transition: .5s;
            
        }
        &.clicked:nth-child(2) {
            left: 0;
            transition: .9s;
            opacity: 0;
            
        }
        &.clicked:nth-child(3) {
            transform: translateY(-4px) rotate(315deg);
            transition: .5s;

        }




    }

    &_item {
        text-align: center;
    }


}




/****************************************:

about

*****************************************:*/

.about {
    padding: 50px 0;
    background-color: red;

    &_imgbox {
        width: 50%;
        margin: 0 auto;
    }

    &_img {
        display: block;
        width: 100%;
        height: 100%;
    }

    &_share {
        text-align: center;

        &_icon {
            width: 100%;
        }
    }
    &_sharetxt {
        display: inline-block;
        font-size: 1.1rem;
    }

    &_left {
        margin: 20px 0;
    }
}

.share {
    padding: 20px 0;

    &:hover {
        margin-bottom: 5px;
    }
}

.twitter {

    &_share_button {
        font-size: 1.1rem;
    }

    &_follow_button {
        font-size: 1.1rem;
    }
}

.fa-twitter {
    font-size: 2rem;
}

